@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  width: 360px; /* 원하는 가로 크기로 조절 */
  margin: auto; /* 화면 중앙 정렬을 위한 margin 설정 */
  overflow: hidden; /* 내용이 넘치면 숨김 처리 (선택사항) */
}